In [11]:

%reset -f

In [12]:

import numpy as np
import pandas as pd

In [13]:

df = pd.read_excel('Data/stock_prices.xlsx')
df = df.rename(columns={'Date': 'DATE'})

In [14]:

df['AMC_PCT'] = df['AMC'].pct_change()
df['PEP_PCT'] = df['PEP'].pct_change()
df['COKE_PCT'] = df['COKE'].pct_change()
df['GE_PCT'] = df['GE'].pct_change()
df['TBT_PCT'] = df['TBT'].pct_change()
df['GME_PCT'] = df['GME'].pct_change()
df['TSLA_PCT'] = df['TSLA'].pct_change()

In [15]:

df

,DATE,AMC,PEP,COKE,GE,TBT,GME,TSLA,AMC_PCT,PEP_PCT,COKE_PCT,GE_PCT,TBT_PCT,GME_PCT,TSLA_PCT
0,2020-08-17,5.600000,133.911301,271.856567,51.549820,15.780000,4.630000,367.127991,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-08-18,5.350000,134.095779,271.776855,51.310799,15.550000,4.810000,377.417999,-0.044643,0.001378,-0.000293,-0.004637,-0.014575,0.038877,0.028028
2,2020-08-19,5.390000,132.484009,271.856567,50.832741,15.760000,4.720000,375.705994,0.007477,-0.012020,0.000293,-0.009317,0.013505,-0.018711,-0.004536
3,2020-08-20,5.690000,132.746170,269.634125,49.956318,15.450000,4.610000,400.365997,0.055659,0.001979,-0.008175,-0.017241,-0.019670,-0.023305,0.065636
4,2020-08-21,5.190000,132.493729,266.484863,50.275017,15.280000,5.030000,409.996002,-0.087873,-0.001902,-0.011680,0.006380,-0.011003,0.091106,0.024053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,2021-08-11,31.549999,155.039993,400.209991,106.040001,18.000000,158.779999,707.820007,-0.006299,0.003950,0.015478,-0.000377,0.000000,-0.001698,-0.003056
249,2021-08-12,33.070000,155.070007,412.980011,106.519997,18.049999,162.350006,722.250000,0.048178,0.000194,0.031908,0.004527,0.002778,0.022484,0.020387
250,2021-08-13,33.470001,156.520004,410.010010,104.919998,17.510000,162.520004,717.169983,0.012096,0.009351,-0.007192,-0.015021,-0.029917,0.001047,-0.007034
251,2021-08-16,35.689999,158.050003,406.399994,103.349998,17.420000,163.929993,686.169983,0.066328,0.009775,-0.008805,-0.014964,-0.005140,0.008676,-0.043225
252,2021-08-17,37.160000,157.899994,407.529999,101.620003,17.320000,163.740005,665.710022,0.041188,-0.000949,0.002781,-0.016739,-0.005741,-0.001159,-0.029818

In [16]:

returns_df = df[['DATE', 'AMC_PCT', 'PEP_PCT', 'COKE_PCT', 'GE_PCT', 'TBT_PCT', 'GME_PCT', 'TSLA_PCT']].dropna()

In [17]:

returns_df.to_pickle('Data/returns.pkl')

In [18]:

df = pd.read_pickle('Data/returns.pkl')

In [19]:

df

,DATE,AMC_PCT,PEP_PCT,COKE_PCT,GE_PCT,TBT_PCT,GME_PCT,TSLA_PCT
1,2020-08-18,-0.044643,0.001378,-0.000293,-0.004637,-0.014575,0.038877,0.028028
2,2020-08-19,0.007477,-0.012020,0.000293,-0.009317,0.013505,-0.018711,-0.004536
3,2020-08-20,0.055659,0.001979,-0.008175,-0.017241,-0.019670,-0.023305,0.065636
4,2020-08-21,-0.087873,-0.001902,-0.011680,0.006380,-0.011003,0.091106,0.024053
5,2020-08-24,0.042389,0.008647,0.037660,0.050713,0.004581,-0.031809,-0.017454
...,...,...,...,...,...,...,...,...
248,2021-08-11,-0.006299,0.003950,0.015478,-0.000377,0.000000,-0.001698,-0.003056
249,2021-08-12,0.048178,0.000194,0.031908,0.004527,0.002778,0.022484,0.020387
250,2021-08-13,0.012096,0.009351,-0.007192,-0.015021,-0.029917,0.001047,-0.007034
251,2021-08-16,0.066328,0.009775,-0.008805,-0.014964,-0.005140,0.008676,-0.043225
252,2021-08-17,0.041188,-0.000949,0.002781,-0.016739,-0.005741,-0.001159,-0.029818

In [5]:
df.index = df['DATE']

In [7]:
df = df.drop('DATE', axis=1)

In [8]:
df

,AMC_PCT,PEP_PCT,COKE_PCT,GE_PCT,TBT_PCT,GME_PCT,TBT_PCT
DATE,,,,,,,
2020-08-18,-0.044643,0.001378,-0.000293,-0.004637,-0.014575,0.038877,-0.014575
2020-08-19,0.007477,-0.012020,0.000293,-0.009317,0.013505,-0.018711,0.013505
2020-08-20,0.055659,0.001979,-0.008175,-0.017241,-0.019670,-0.023305,-0.019670
2020-08-21,-0.087873,-0.001902,-0.011680,0.006380,-0.011003,0.091106,-0.011003
2020-08-24,0.042389,0.008647,0.037660,0.050713,0.004581,-0.031809,0.004581
...,...,...,...,...,...,...,...
2021-08-11,-0.006299,0.003950,0.015478,-0.000377,0.000000,-0.001698,0.000000
2021-08-12,0.048178,0.000194,0.031908,0.004527,0.002778,0.022484,0.002778
2021-08-13,0.012096,0.009351,-0.007192,-0.015021,-0.029917,0.001047,-0.029917
2021-08-16,0.066328,0.009775,-0.008805,-0.014964,-0.005140,0.008676,-0.005140
2021-08-17,0.041188,-0.000949,0.002781,-0.016739,-0.005741,-0.001159,-0.005741